h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, html, body,
.main-header .logo {
	font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

a:hover {
	cursor: pointer;
}

.main-header .navbar-custom-menu ul.nav li a.item {
	border: 1px solid rgba(255,255,255,0.3);
	padding: 8px 15px;
	border-radius: 3px;
	margin: 6px 5px 0 0;
}
.main-header .navbar-custom-menu ul.nav li a.item:hover {
	border-color: rgba(255,255,255,0.8);
}
.main-header .navbar-custom-menu ul.nav li a.item:active {
	border-color: rgba(255,255,255,0.5);
	background: rgba(0,0,0,0.3);
}

.main-header .navbar-custom-menu ul.nav li.disabled a.item:hover,
.main-header .navbar-custom-menu ul.nav li.disabled a.item:active,
.main-header .navbar-custom-menu ul.nav li.disabled a.item {
	color: rgba(255,255,255,0.5);
	border-color: rgba(255,255,255,0.3);
	background: transparent;
}

.box-body .box-body-block {
	border-bottom: 1px solid #f4f4f4;
}

.products-list .product-img > .fa {
	font-size: 30px;
	line-height: 100%;
	padding: 10px;
	background: #CCCCCC;
	color: #FFFFFF;
}

.products-list .product-info > .label {
	margin-left: 5px;
}

#editBlock {
	height: 100%;
}

#overview {
	background: #FFFFFF;
	padding: 10px;
	box-shadow: 0 0 15px rgba(0,0,0,0.15);
	border-radius: 3px;
}

#overview > h1 {
	margin: 0 0 15px;
	padding: 0;
	font-weight: bolder;
}

#overview > .tags {
	color: #999999;
	margin: 5px 0 15px 0;
}

#overview > .article-cntr {
	overflow-y: auto;
	font-size: 16px;
}

#overview > .article-cntr img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}